/* Reset */
@import 'reset';


/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Roboto+Slab:400,700,300);
$font-stack: 		'Roboto', Helvetica, Arial, sans-serif;
$font-stack-title: 	'Roboto Slab', Helvetica, Arial, sans-serif;


/* Variables */
$color-primary: 	#333333;
$color-secondary: 	#638e99;
$color-highlight: 	#b25b30;
$color-neutral: 	#777777;
$color-white: 		#ffffff;
$color-offwhite: 	#f2f2f2;
$color-darktext: 	#333333;
$color-transparent: rgba(255, 255, 255, 0.0);

$header-height:     250px;
$main-width: 		760px;
$article-padding:   60px;
$article-width:     $main-width - (2*$article-padding);

$border-radius: 	3px;

$device-small:      385px;
$device-medium:     600px;
$device-large:      770px;


/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    min-width: 380px;
}

@mixin a-color($color, $color-invert) {
    color: $color;
    @include border-radius($border-radius);
    border: 1px solid $color-transparent;
    text-decoration: none;
    &:hover {
        color: $color-invert;
        background-color: $color;
        border: 1px solid $color;
    }
}

@mixin extend-a-color($color, $color-invert) {
    a {
        color: $color;
    }
    a:hover {
        color: $color-invert;
        background-color: $color;
        border: 1px solid $color;
    }
}


/* Styles */
body {
    font: normal normal 10pt/normal $font-stack;
    background: $color-primary;
    color: $color-darktext;
    height: 100%;
}

a {
    @include a-color($color-secondary,$color-offwhite);
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 15px;
}

#header {
    font-family: $font-stack-title;
    height: $header-height;
    margin-bottom: $article-padding/2;
    margin-top: $article-padding/2;
    background-color: $color-primary;
    z-index: 0;
    overflow: hidden;
    position: relative;

    .wrapper::before{
        background-color: $color-offwhite;
        margin-left: -100vw;
        width: 100vw;
        top: $header-height * 0.16;
        height: $header-height * 0.68;
        display: inline-block;
        position: absolute;
        z-index: -1;
        content: " ";
    }

    .wrapper::after{
        background-color: $color-offwhite;
        margin-left: $header-height;
        width: 100vw;
        top: $header-height * 0.16;
        height:$header-height * 0.68;
        display: inline-block;
        position: absolute;
        z-index: -1;
        content: " ";
    }

    .wrapper {
        padding-left: $article-padding;

        .nav-link {
            font-size: 1.1em;
            margin-left: $header-height + 50;
        }

        #name {
            margin-top: 75px - $header-height;
            margin-left: $header-height + 60;
            color: $color-darktext;
            font-size: 3.5em;
            font-family: $font-stack-title;
            font-weight: 700;
        }

        #logo {
            width: $header-height;
            height: $header-height;
        }
    }
}

article {
    background-color: $color-offwhite;
    padding: $article-padding;
    margin-bottom: $article-padding;

    .head{
        width:100%;
        border-bottom: dashed 1px lighten($color-darktext, 50% );
        margin-bottom: 25px;

        .date {
            background-color: $color-white;
            width: 50px;
            margin-bottom: 25px;
            margin-left: 25px;
            float:right;
            padding: 8px;
            text-align: right;
            font: 1.2em/12pt $font-stack-title;
            color: lighten($color-darktext, 10% );
            .year {
                font-size: 0.8em;
                color: lighten($color-darktext, 30% );
            }
        }

        h1 {
            font: 2.5em $font-stack-title;
            font-weight: bold;
            margin: 0;
            margin-bottom: 25px;
        }
    }
}

#footer {
    font-family: $font-stack-title;
    height: auto;
    margin-bottom: $article-padding;
    margin-top: $article-padding;
    background-color: $color-offwhite;
    padding: $article-padding/2;
    line-height: 2em;

    .wrapper {
        max-width: $main-width;
    }
}


/* Utility */
.clearfix {
    clear: both;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $main-width;
    min-width: $device-small;
}

.center-text {
    text-align: center;
}

.nav-link {
    li {
        display: inline;
        margin: 10px;
    }
}

.link-primary {
    @include extend-a-color($color-primary,$color-offwhite);
}

.link-secondary {
    @include extend-a-color($color-secondary,$color-offwhite);
}

.link-highlight {
    @include extend-a-color($color-highlight,$color-offwhite);
}

.link-neutral {
    @include extend-a-color($color-neutral,$color-offwhite);
}

.link-title {
    @include extend-a-color($color-darktext,$color-offwhite);
}


/**Responsive**/

@media screen and (max-width: $device-large){
    .hidden-lrg {
        visibility: hidden;
    }

    article {
        padding: 30px;

    }

    #header .wrapper #text {
        #name {
            font-size: 2.5em;
        }
        margin-top: 10px;
    }
}

@media screen and (max-width: $device-medium){
    .hidden-med {
        visibility: hidden;
    }

    #header .wrapper .nav-link {
        margin-top: -62px;
        margin-left: $header-height + 30px;
        li {
            display: list-item;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: $device-small){
    .hidden-sml {
        visibility: hidden;
    }
}
