/* Reset */
@import url(reset.css);
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Roboto+Slab:400,700,300);
/* Variables */
/* Mixins */
/* Styles */
body {
  font: normal normal 10pt/normal "Roboto", Helvetica, Arial, sans-serif;
  background: #333333;
  color: #333333;
  height: 100%; }

h1 {
  font: 2.5em "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: auto;
  margin: 16px;
  float: left; }
  h1 a {
    color: #333333;
    text-decoration: none;
    margin-left: -3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 3px solid rgba(255, 255, 255, 0); }
  h1 a:hover {
    color: #f2f2f2;
    background-color: #333333;
    border: 3px solid #333333; }

p {
  font-size: 1.1em;
  line-height: 1.6em;
  clear: both;
  margin-bottom: 15px; }

a {
  color: #b25b30;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0); }
  a:hover {
    color: #f2f2f2;
    background-color: #b25b30;
    border: 1px solid #b25b30; }

#header {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  height: 200px;
  margin-bottom: 30px;
  margin-top: 30px;
  background: url("img/header-bg.svg") repeat-x 0 0/5px 200px;
  background-color: #333333;
  z-index: -200; }
  #header ul {
    position: absolute;
    color: #333333;
    font-size: 1.1em;
    display: inline;
    margin-top: 0px;
    margin-left: 250px; }
    #header ul li {
      display: inline;
      margin: 10px; }
    #header ul a {
      color: #666666;
      text-decoration: none;
      background-color: transparent;
      border: 0; }
    #header ul a:hover {
      color: black;
      background-color: none; }
  #header #header-container {
    width: 700px;
    padding-left: 60px;
    margin-left: auto;
    margin-right: auto; }
    #header #header-container #name {
      margin-top: -155px;
      margin-left: 260px;
      color: #333333;
      font-size: 3.5em;
      font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
      font-weight: 700; }
    #header #header-container #logo {
      background-color: #333333;
      background-size: 200px;
      background-repeat: repeat-y;
      width: 200px;
      height: 200px;
      z-index: 0;
      position: relative; }

#container {
  width: 700px;
  margin-left: auto;
  margin-right: auto; }
  #container #main {
    width: 700px;
    position: relative; }

article {
  width: 580px;
  background-color: #f2f2f2;
  padding: 60px;
  margin-bottom: 60px; }
  article .head {
    position: relative;
    width: 100%;
    border-bottom: solid 1px #333333;
    margin-bottom: 25px; }
    article .head .date {
      background-color: #d8d8d8;
      width: 50px;
      margin-bottom: 25px;
      float: right;
      padding: 8px;
      text-align: center;
      font: 1.2em/12pt "Roboto Slab", Helvetica, Arial, sans-serif;
      color: #4d4d4d; }
      article .head .date .year {
        font-size: 0.8em;
        color: gray; }
    article .head h1 {
      float: none;
      width: auto;
      margin-left: 0;
      margin-right: 0; }

/* Utility */
.clearfix {
  clear: both; }

.unselectable {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none; }

/*# sourceMappingURL=main.css.map */
