/* Reset */
@import 'reset.css';


/* Variables */
$color-primary: 	#366780;
$color-secondary: 	#638e99;
$color-highlight: 	#b25b30;
$color-neutral: 	#777;
$color-white: 		#fff;
$color-offwhite: 	#f2f2f2;
$color-darktext: 	#333;
$color-transparent: rgba(255, 255, 255, 0.0);

$font-stack: 		'AllerRegular', Helvetica, Arial, sans-serif;
$font-stack-bold: 	'AllerBold', Helvetica, Arial, sans-serif;

$main-width: 		850px;
$article-width:     480px;
$ridge-width: 		250px;

$border-radius: 	3px;


/* Mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


/* Fonts */
@font-face {
    font-family: 'AllerRegular';
    src: url("aller_regular-webfont.eot");
    src: local('☺'), url("aller_regular-webfont.woff") format('woff'), url("aller_regular-webfont.ttf") format('truetype'), url("aller_regular-webfont.svg#webfontHJIiPv90") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerBold';
    src: url("aller_bold-webfont.eot");
    src: local('☺'), url("aller_bold-webfont.woff") format('woff'), url("aller_bold-webfont.ttf") format('truetype'), url("aller_bold-webfont.svg#webfontDSrVwF7Z") format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Styles */
body {
    font: normal normal 10pt/normal $font-stack;
    background: $color-primary;
    color: $color-darktext;
    height: 100%;
}

h1 {
    font: 2.5em $font-stack-bold;
    width: auto;
    margin: 16px;
    float: left;
    a {
        color: $color-darktext;
        text-decoration: none;
        margin-left: -3px;
        @include border-radius($border-radius);
        border: $border-radius solid $color-transparent;
    }
    a:hover {
        color: $color-offwhite;
        background-color: $color-darktext;
        border: $border-radius solid $color-darktext;
    }
}

h3 {
    font: 1.5em $font-stack-bold;
    margin: 0 10px 10px;
    color: $color-darktext;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
    clear: both;
    margin-bottom: 15px;
}

a {
    color: $color-highlight;
    text-decoration: none;
    @include border-radius($border-radius);
    border: 1px solid $color-transparent;
    &:hover {
        color: $color-offwhite;
        background-color: $color-highlight;
        border: 1px solid $color-highlight;
    }
}

#header {
    font-family: $font-stack-bold;
    height: 250px;
    background: url("img/header-bg.svg") repeat-x 0 0/5px 250px;
    background-color: $color-primary;
    z-index: -200;
    ul {
        position: absolute;
        color: $color-darktext;
        font-size: 1.1em;
        display: inline;
        margin-top: 10px;
        margin-left: 300px;
	    li {
	        display: inline;
	        margin: 10px;
	    }
		a {
	        color: lighten($color-darktext, 20% );
	        text-decoration: none;
	        background-color: transparent;
	        border: 0;
	    }
	    a:hover {
	        color: darken($color-darktext, 20% );
	        background-color: none;
	    }
    }
}

#header-container {
    width: $main-width;
    margin-left: auto;
    margin-right: auto;
}

#header-name {
    margin-top: -180px;
    margin-left: 310px;
    color: darken($color-darktext, 10%);
    font-size: 4em;
    font-family: $font-stack-bold;
}

#logo {
    background-color: $color-primary;
    background-size: $ridge-width;
    background-repeat: repeat-y;
    width: 250px;
    z-index: 0;
    position: relative;
}

#container {
    width: $main-width;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    float: left;
    width: $ridge-width;
    height: 10px;
}

#main {
    padding-left: $ridge-width;
    width: $article-width + 120px;
    position: relative;
}

article {
    width: $article-width;
    background-color: $color-offwhite;
    padding: 50px 60px 50px 60px;
    margin-bottom: 50px;
	h1 {
        margin-left: 0;
        margin-right: 0;
        max-width: 405px;
    }
    .title{
        position: relative;
        display: inline-block;
        width:100%;
        border-bottom: solid 1px $color-darktext;
        margin-bottom: 25px;
        .date {
            background-color: darken($color-offwhite, 10% );
            width: 50px;
            height: auto;
            position: absolute;
            bottom:35px;
            right:0;
            @include border-radius($border-radius);
            padding: 8px;
            text-align: center;
            font: 1.2em/12pt $font-stack-bold;
            color: lighten($color-darktext, 10% );
            .year {
                font-size: 0.8em;
                color: lighten($color-darktext, 30% );
            }
        }
    }
}



/* Utility */
.clearfix {
    clear: both;
}

.unselectable {
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}
