<div id="header">
	<div class="wrapper">
		<img id="logo" class="unselectable" src="{{asset "img/sd-square.jpg"}}" />
		<div id="text">
			<div id="name" class="hidden-med" >Simon DeMartini</div>
			<ul class="nav-link link-highlight hidden-sml">
				<li><a href="#">projects</a></li>
				<li><a href="#">blog</a></li>
				<li><a href="#">contact</a></li>
			</ul>
		</div>
	</div>
</div>
