<nav class="pagination" role="navigation">
        <a class="newer-posts link-button {{^if prev}}invisible{{/if}}" href="{{page_url prev}}"> 	&#x25C4; Newer Posts</a>

        <a class="older-posts link-button {{^if next}}invisible{{/if}}" href="{{page_url next}}">Older Posts &#x25BA;</a>

    <div class="page-number link-button">Page {{page}} of {{pages}}</div>
</nav>
