{% assign sorted = (site.projects | sort: 'date') | reverse %}
{% for project in sorted %}
<div class="wrapper project">
    <header class="head">
        <h3 class="link-title">{{ project.title }}</h3>
        <time class="date" datetime="{{ project.completion_date | date: "%Y-%b-%d"}}">{{ project.completion_date | date: "%B, "}}<span class="year">{{ project.completion_date | date: "%Y"}}</span></time>
    </header>
    <section class="post-excerpt {{post_class}}">
        {%if project.image %}
        <div class="big-img">
            <img src="{{ project.image }}" />
        </div>
        {% endif %}

        {{ project.excerpt }}
    </section>
    <footer class="post-meta">

    </footer>
</div>
{% endfor %}
