/* Reset */
@import 'reset';

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Roboto+Slab:400,700,300);
$font-stack: 		'Roboto', Helvetica, Arial, sans-serif;
$font-stack-title: 	'Roboto Slab', Helvetica, Arial, sans-serif;

/*Markdown Post Styles*/
@import 'markdown';

/* Variables */
$color-primary: 	#333333;
$color-secondary: 	#638e99;
$color-highlight: 	#b25b30;
$color-neutral: 	#999999;
$color-white: 		#ffffff;
$color-offwhite: 	#f4f4f4;

$color-darktext: 	#333333;
$color-bg:          $color-offwhite;
$color-header:      lighten($color-highlight, 5%);
$color-logo-s:      adjust-hue(darken($color-header, 3%), -3);
$color-logo-d:      adjust-hue(lighten($color-header, 3%), 3);
$color-transparent: rgba(255, 255, 255, 0.0);
$color-border:      hsla(0, 10, 0, 0.15);

$header-height:     180px;
$med-header-height: 120px;
$sml-header-height: 100px;

$footer-height:     40px;
$main-width: 		780px;
$article-padding:   30px;
$article-width:     $main-width - (2*$article-padding);

$border-radius: 	3px;

$device-small:      380px;
$device-medium:     600px;
$device-large:      800px;


/* Mixins */

@mixin logo-size($height) {
    width: $height;
    height: $height;
    div {
        width: $height;
        height: $height;
        background-size: ($height + .028 *$height) $height;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin a-color($color, $color-invert) {
    color: $color;
    @include border-radius($border-radius);
    border: 1px solid $color-transparent;
    text-decoration: none;
    &:hover {
        color: $color-invert;
        background-color: $color;
        border: 1px solid $color;
    }
}

@mixin extend-a-color($color, $color-invert) {
    a {
        color: $color;
    }
    a:hover {
        color: $color-invert;
        background-color: $color;
        border: 1px solid $color;
    }
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* Styles */
html {
    height: 100%;
}

body {
    font: normal normal 10pt/normal $font-stack;
    background: $color-bg;
    color: $color-darktext;
    height: 100%;
    position: relative;
    min-height: 100%;
}

a {
    @include a-color($color-highlight,$color-offwhite);
}

img {
    max-width:100%;
    height:auto;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 15px;
}

#header {
    font-family: $font-stack-title;
    height: $header-height;
	overflow: hidden;
    position: relative;
    z-index: 10;

    .wrapper {
        background-image: url("../img/sd-bar.svg");
        background-repeat: repeat-x;
        background-size: auto $header-height;
        display: inline-block;
        position: absolute;
        content: " ";

        top:0;
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100vw;
        max-width: 100vw;
        height: $header-height;

    }

    #logo{
        float:left;
        @include logo-size($header-height);
        div {
            background-color: $color-white;
            background-image: url("../img/sd-square-incl.svg");
            background-repeat: no-repeat;
        }
    }

    #text{
        display: flex;
        flex-direction: column;
        justify-content: center;

        float: left;
        height: $header-height;
        padding-left: $article-padding;
        color: $color-white;

        #name {
            font-size: 3.25em;
            font-weight: 700;
        }

        .nav-link {
            font-size: 1.1em;
            margin-top: -8px;
			list-style-type:none;
            line-height: 2em;
            li {
                margin-left: 0;
                padding-bottom: 8px;
            }
        }
    }
}

article {
    background-color: $color-white;
    z-index: 1;
    padding: $article-padding;
    padding-bottom: $article-padding * 2;
    position: relative;
    border-bottom: 30px;
    border-bottom-color: $color-offwhite;
    border-bottom-style:solid;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    &:first-child {
        margin-top: -$header-height;
        padding-top: $header-height + $article-padding/2;
    }
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 2 *($footer-height + $article-padding ) - 10px;
        border-bottom: 0;
        height: auto !important; /*min-height hack*/
        height: 100%;
        min-height:100%;
        overflow: hidden;
    }

    .head{
        width:100%;
        padding: 0 $article-padding 0 $article-padding;
        margin-left: -$article-padding;
        border-bottom: dashed 1px $color-border;
        margin-bottom: $article-padding/2;
        padding-bottom: $article-padding/2;

        .date {
            width: auto;
            margin-bottom: 10px;
            margin-top: 5px;
            margin-left: 2px;
            display: block;
            font: 1.0em $font-stack-title;
            color: lighten($color-darktext, 10% );
            .year {
                color: lighten($color-darktext, 30% );
            }
        }

        h1 {
            font-weight: 700;
            letter-spacing: -1px;
            margin: 0;
        }
    }
}

#container {
    min-height: 100%;
    position:relative;
}

#content {
    min-height: 100vh;
    position:relative;
    bottom:0;
    background-color: $color-white;
}

#footer {
    font-family: $font-stack-title;
    height: $footer-height;
    margin-bottom: $article-padding;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    padding: $article-padding/2;
    line-height: 1.5em;
    z-index: 1;
    @extend .link-neutral;
    a {
        &:hover {
            color: $color-header;
        }
    }
}


/* Utility */
.big-img {
    max-width: $article-width + 2* $article-padding ;
    height:auto;
    margin: $article-padding/2 0 -$article-padding;
    &:first-child{
        margin-top:-$article-padding/2 - 1px;
    }
}

.center-text {
    text-align: center;
}

.clearfix {
    clear: both;
}

.invisible {
    visibility: hidden;
}

.link-primary {
    @include extend-a-color($color-primary,$color-offwhite);
}

.link-secondary {
    @include extend-a-color($color-secondary,$color-offwhite);
}

.link-highlight {
    @include extend-a-color($color-highlight,$color-offwhite);
}

.link-highlight-header {
    @include extend-a-color($color-offwhite,$color-highlight);
}

.link-neutral {
    @include extend-a-color($color-neutral,$color-offwhite);
}

.link-title {
    @include extend-a-color($color-darktext,$color-offwhite);
}

.link-nostyle {
        color: $color-offwhite;
        border: none;

    &:hover {
        color: $color-offwhite;
        border: none;
        background-color: rgba(0,0,0,0);
    }
}

.link-button {
    padding: 3px;
}

.nav-link {
    padding-left: 0;
    margin-bottom: 0;
    li {
        display: inline;
        margin: 10px;
    }
    .nav-current {
        font-weight: bold;
    }
}

.pagination{
    @extend article;
    z-index:0;
    min-height: 0;
    margin: 0 auto;
    color: $color-neutral;
    display: block;
    text-align: center;
    position: relative;

    &:first-child {
        margin-top: 0;
        padding-top: $article-padding - 2px;
    }
    .newer-posts{
        float:left;
    }
    .page-number{
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        padding-top:4px;
    }
    .older-posts{
        float:right;
        text-align: right;
    }
}

.read-more {
    margin-left: -3px;
    position: absolute;
    bottom: $article-padding;
}

.tags{
    padding-left: 0;
    margin-bottom: $article-padding/4;
    display: inline-block;
    li{
        display: inline-block;
        margin-right:5px;
        height: 100%;
        white-space: nowrap;
        a{
            color: $color-white;
            background-color: $color-neutral;
            padding: 3px;
            &:hover{
                background-color: $color-highlight;
                border-color: $color-highlight;
            }
        }
    }
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $main-width;
    min-width: 290px;
}

/**Responsive**/

@media screen and (max-width: $device-large){
    $lrg-padding: $article-padding/2;
    .hidden-lrg {
        visibility: hidden;
    }

    article {
        padding-top: $lrg-padding*1.5;
		padding-left: $lrg-padding;
		padding-right: $lrg-padding;
		.head {
			padding: 0 $lrg-padding 15px $lrg-padding;
			margin-left: -$lrg-padding;
		}
        .big-img {
            margin: 20px $lrg-padding - $article-padding;
            margin-bottom: $lrg-padding;
        }
    }

    #header {
        #text {
            padding-left: $lrg-padding;
            #name {
                font-size: 3em;
            }
        }
    }

    #content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: $device-medium) and (min-width: $device-small+1px){
    $med-padding: $article-padding/2;

    #header {
        height: $med-header-height;
        .wrapper {
            background-size: auto $med-header-height;
        }

        #logo{
            @include logo-size($med-header-height);
        }

        #text {
            height: $med-header-height;
            padding-left: $med-padding;
            #name {
                font-size: 1.9em;
                line-height: 1.1em;
            }
            .nav-link {
                font-size: 1.0em;
                line-height: 1.5em;
                margin-top: 0;
            }
        }
    }

    .hidden-med {
        visibility: hidden;
    }

    #content {
        margin-left: $med-padding;
		margin-right: $med-padding;
        .big-img {
            margin: 20px $med-padding - $article-padding;
            margin-bottom: $med-padding;
            &:first-child {
                margin-top: -16px;
            }
        }
    }

    article {
        &:first-child {
            margin-top: -$med-header-height;
            padding-top: $med-header-height + $med-padding/2;
        }
    }

}

@media screen and (max-width: $device-small){
    $sml-padding: $article-padding/3;

    .hidden-sml {
        visibility: hidden;
    }

    #header {
        height: $sml-header-height;
        .wrapper {
            background-size: auto $sml-header-height;
            min-width: $device-small - $sml-padding*4;
        }

        #logo{
            @include logo-size($sml-header-height);
            //padding-left: $sml-padding;
        }

        #text {
            height: $sml-header-height;
            padding-left: $sml-padding;
            #name {
                font-size: 1.5em;
                line-height: 1.1em;
            }
            .nav-link {
                font-size: 1.0em;
                line-height: 1.6em;
                margin-top: 0;
                li{
                    margin-right: 3px;
                }
            }
        }
    }

    article {
        padding-top: $sml-padding;
		padding-left: $sml-padding;
		padding-right: $sml-padding;
        margin-bottom: $sml-padding*2;
		.head {
			padding: 5px $sml-padding 5px $sml-padding;
			margin-left: -$sml-padding;
		}
        .big-img {
            margin: 20px $sml-padding - 20px;
            margin-bottom: $sml-padding;
        }
        &:first-child {
            margin-top: -$sml-header-height;
            padding-top: $sml-header-height + $sml-padding/2;
        }
    }

    #content {
        margin-left: 10px;
		margin-right: 10px;
    }

}
