---
layout: default
---

<article class="wrapper">
    <header class="head link-title">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <time class="date" datetime="{{ page.date | date: "%Y-%b-%d"}}">{{ page.date | date: "%B %d, "}}<span class="year">{{ page.date | date: "%Y"}}</span></time>

        <!--
        {%if page.categories.size > 0 %}
        <ul class="tags link-secondary">

        {% for category in page.categories %}
        <li><a href="{{category.url}}">{{ category }}</a></li>
        {% endfor %}

        </ul>
        {% endif%}
        -->

    </header>
    <section class="post">
        {% if page.image %}
        <div class="big-img">
            <img src="{{ page.image }}" />
        </div>
        {% endif %}

        {{ content }}

    </section>
    <footer class="post-meta">

    </footer>
</article>
